<!DOCTYPE html>
<html lang="en">
<head>
  {{> head_essentials }}
</head>
<body>
  <section class="main-content">
    {{> header}}
    <img class="profile-image" src="./img/Mr_beans_holiday_ver2.jpg" alt="Profile image">
  </section>

  {{> footer }}
</body>
</html>