<!DOCTYPE html>
<html lang="en">
<head>
  {{> head_essentials }}
</head>
<body>
  <section class="main-content">
    {{> header}}
    <img class="profile-image" src="./img/Mr_beans_holiday_ver2.jpg" alt="Profile image">
    <h1>Node.js app</h1>
    <p>Used frameworks and libraries:</p>
    <ul>
      <li>express</li>
      <li>path</li>
      <li>hbs</li>
      <li>postman-request</li>
    </ul>
    <p>Used apis:</p>
    <ul>
      <li><a href="https://www.mapbox.com/">Mapbox</a></li>
      <li><a href="https://weatherstack.com/">Weatherstack</a></li>
    </ul>
  </section>

  {{> footer }}
</body>
</html>