<footer>
  <p>Created by {{ name }}</p>
  <script>
    _mtm.push({ 'event': 'cf_consent_necessary', 'cf_necessary_enabled': 'true' });
    _mtm.push({ 'event': 'cf_consent_advertising', 'cf_advertising_enabled': 'true' });
    _mtm.push({ 'event': 'cf_consent_performance', 'cf_performance_enabled': 'true' });
    _mtm.push({ 'event': 'cf_consent_functional', 'cf_functional_enabled': 'true' });
  </script>
</footer>