<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./css/styles.css">
<title>{{ title }}</title>
<link rel="icon" href="../../public/img/Weather-Partly-Cloudy-Rain-icon.png">
<!-- Matomo Tag Manager -->
<script>
var _mtm = window._mtm = window._mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.async=true; g.src='https://cdn.matomo.cloud/tameredpronghornslipcyclicapp.matomo.cloud/container_D8Tr8mEP.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->